{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    
    <div class="card-header profile_div">
        <h3 >Profile</h3>
        
    </div>
    
    <div class="profile_div">
        <div >
        <h3 id="UserName">{{prf.username}}</h3>
        email:{{prf.email}} <br>
        join date:{{ prf.date_joined}} <br>
        following: {{prf.following_count}} 
        followers: {{prf.followers_count}}
        </div>
        {% if msg == "follow"%}
        {% if user.is_authenticated %}
            <div>
                <form action="{% url 'profile' prf.username %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Follow">
                </form>
            </div> 
        {% endif %} 
        {%elif msg == "unfollow"%}
            <div>
                <form action="{% url 'profile' prf.username %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" value="Unfollow">
                </form>
            </div> 
        {% endif %}
    </div>
    <div id="posts_view">
    <div >
    <ul class="ul">
        {% for post in posts %}
        <li  class="padd">
            
            <div id="id{{post.id}}" class="card">
                <h5 class="card-header"><a href="{% url 'profile' post.user.username %}">{{post.user.username}}</a></h5>
                <div class="card-body ">
                <div>{{post.timestamp}}<br></div>
                <div id="content{{post.id}}"><p class="card-text blockquote mb-0">{{post.content}}</p></div>
                <div id="LC{{post.id}}">likes: {{post.like.count}}</div>
                {% if user.is_authenticated %}
                {% if user in post.like.all %}
                <div><button id="LB{{post.id}}" class="btn btn-primary" type="button" onclick="like({{post.id}})">unlike</button></div>
                {% else %}
                <div><button id="LB{{post.id}}" class="btn btn-primary" type="button" onclick="like({{post.id}})">like</button></div>
                {% endif %}
                {% if user == post.user %}
                <div><button class="btn btn-primary" type="button" onclick="edit({{post.id}})">edit</button></div>
                {% endif %}
                {% endif %}
                </div>
            </div>
        </li>
           
        {% endfor %}
    </ul>
    </div>
    </div>
    <div>
   <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
               <li class="page-item"> <a class="page-link" href="?page=1">&laquo; first</a></li>
               <li class="page-item"> <a class="page-link" href="?page={{ posts.previous_page_number }}">previous</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">{{ posts.previous_page_number  }}</a></li>

            {% endif %}

           
            <li class="page-item"> <a  class="page-link" href="#">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a></li>
            

            {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">{{ posts.next_page_number }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">next</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a></li>
            {% endif %}
         </ul>
    </nav>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}