.profile_div{
   
    text-align: center;
}

.margin{
    margin: 0px;
}
.padd{
    padding-bottom: 5px;
}

.border{
    border-style:"thin solid black";
}
.ul{
    margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
    list-style-type: none;
}
